/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

* {
    box-sizing: border-box;
}

/* nav compass image */
.compass {
    height: 100px;
    transform: rotate(92deg);
}
.navbar:hover .nav-links {
    visibility: visible;
    /* display: flex; */
}
.grow { 
    transition: all .3s ease-in-out; 
}
.grow:hover {
    transform: scale(1.1); 
}
/* nav links */
.navbar {
    position: fixed;
    left: 88%;
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    position: absolute;
    right: 80%;
    list-style: none;
    display: flex;   
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    
}
.li-item, a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #67809f; 
}
@media only screen and (max-width: 767px) {
    .navbar {
        position: unset;
        display: flex;
        justify-content: center;

    }
    .nav-links {
        position: unset;
        display: flex;
        flex-direction: row;
        padding: 0;
        visibility: visible;
    }
    .li-item {
        padding: 10%;
    }
    .compass {
        display: none;
    }
}


.li-item{
    text-decoration: none;
}

/* main NW logo  */
.main-page-wrapper {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
}
#main-image{
    /* height: 500px; */
    height: 100%vh;
    width: 500px;
    background: url("../images/3.png") no-repeat;
    transition:  .15s ease;
}
#small-main-image {
    display: none;
}

@media only screen and (max-width: 767px) {
    .main-page-wrapper {
    }
    #main-image {
        display: none;
    }
    #small-main-image{
        position: relative;
        top: 60px;
        left: 60px;
        display: flex;
        width: 100%;
        background: url("../images/3small.png") no-repeat;
        transition: .15s ease;
    }
}

/* about me */
.page-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    background-color: rgba(92, 151, 191, .15);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.about-image {
    display: flex;
    height: 250px;
    margin-top: 7%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.about-me {
    display: flex;
    align-items: center;
    margin: 2%;
    background-color: rgba(92, 151, 191, .15);

    padding: 2%;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.page-title {
    font-family: 'Raleway', sans-serif; 
    font-size: 92px;
    color: #67809f;
    margin: 0;
}
.page-header {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 767px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }
    .about-me {
        margin-top: 12%;
    }
    .about-image {
        width: inherit;
    }
    .media-about-me-title {
        display: flex;
    }
    .page-title {
        text-align: center;
        font-size: 50px;
    }
  }
  @media only screen and (max-width: 370px) {
      .page-title {
          font-size: 38px;
      }
  }

  /* portfolio page */

  /* MOBILE PORTFOLIO */
  .gallery-image {
    height: 200px;
    width: 200px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  }
  .gallery-image:first-child {
      margin-top: 1rem;
  }
  .gallery-image:last-child {
      margin-bottom: 1rem;
  }
  .collapsed {
      width: 200px;
    flex-direction: column;
    position: relative;
    background-color: rgba(92, 151, 191, .15);
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    display: none;
  }
  .mobile-card-title {
    text-align: center;
    font-size: 17px;
  }
  .mobile-card-git {
    height: 50px;
    margin-left: 30%;
  }
  /* end mobile gallery css */

  .portfolio-container {
      flex-direction: column;
  }



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-top: 7%;
}

.flip-card:last-child {
    margin-bottom: 7%;
}

.flip-card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.flip-card:hover .flip-card-inside {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front-image {
    height: 300px;
    width: 300px;
}
.flip-front {
    background-color: #bbb;
}
.flip-back {
    background-color: rgba(108, 122, 137, .5);
    transform: rotateY(180deg);
    color: white;
    font-family: 'Raleway', sans-serif; 
}
.flip-back-title {
    font-size: 32px;
}
  /* for par card only text is too large for card */
  .par {
      font-size: 22px;
}

.portfolio-inside {
    margin: 2% 0;
    padding: 1rem;
    background-color:  rgba(92, 151, 191, .15);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.mobile-portfolio {
    display: none;
}
@media only screen and (max-width: 767px) {
    .desktop-portfolio {
        display: none;
    }
    .mobile-portfolio {
        display: flex;
    }
    .mobile-back {
        visibility: visible;
    }


}
/* contact page */

.contact-title {
    font-size: 36px;
}

.contact-page{
    flex-direction: column;
}
.contact-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    width: 100%;
    background-color:  rgba(92, 151, 191, .15);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-img {
    height: 50px;
}

.contact-name-p {
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    color: #67809f; 
    font-size: 22px;
}

.contact-page>a{
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .contact-info{
        font-size: 16px;
    }
}