/* nav compass image */
.compass {
    height: 125px;
    transform: rotate(92deg);
}
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.1); 
}
/* nav links */
.navbar {
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    list-style-type: none;
    display: none;    
    flex-direction: column;
    justify-content: space-between;
    
}



.li-item{
    text-decoration: none;
    color: rgba(78, 95, 117, 0.952) 
}

/* main NW logo  */
.main-page-wrapper {
    display: flex;
    justify-content: center;
}